#loading-bar-spinner {
    width: 100%;
    height: 100%;
    top: 2px !important;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 999;
    pointer-events: unset !important;
}
#loading-bar .bar {
    /*height: 10px !important;*/
}
 .modal-backdrop {
     height: 100%;
 }

.modal-open .modal {
    overflow-y: hidden;
}
map{
    display:block;
    width:200px;
    height:800px
}

.mrw{
    width: 150px;
    overflow: auto;
    text-align: left;
}
.mb10{
    margin-bottom: 10px;
}
@media (max-width: 320px) {
    .mrw {
        width: 192px;
    }
}
.gp-button{
    float: right;
    margin-top: -36px;
    margin-bottom: 30px;
}