a:hover {
    text-decoration: none;
}

#page_scroller {
    background: #ef8629;

}

.property-content .title a{
    color: #ef8629;
}

.setting-button{
    background: #ef8629;
}

.option-panel h2{
    color: #ef8629;
}

.list-inline-listing .active{
    background: #ef8629;
}

.list-inline-listing li:hover{
    background: #ef8629;
}

.counters {
    background: #ef8629;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid #ef8629;
}

input[type=checkbox]:checked + label:before {
    color: #ef8629;
}

.button-theme {
    background: #ef8629;
    border: 2px solid #ef8629;
}

.button-theme:hover {
    background: #3D525F;
    border: 2px solid #3D525F;
}
.button-theme2 {
    background: #3D525F;
    border: 2px solid #3D525F;
    color: #fff;
}

.button-theme2:hover {
    background: #fff;
    border: 2px solid #3D525F;
}

.error404-content h1 {
    color: #ef8629;
}

.footer-top form .button-small {
    border: solid 1px #ef8629;
    background: #ef8629;
}

.properties-amenities ul li i {
    color: #ef8629;
}

.properties-condition ul li i {
    color: #ef8629;
}

.banner-detail-box h3{
    color: #ef8629;
}

.border-button-theme {
    border: 2px solid #ef8629;
    color: #ef8629;
}

.border-button-theme:hover {
    background: #ef8629;
    color: #fff !important;
}

.theme-tabs .nav-tabs > li > a {
    background: #ef8629;
}

.theme-tabs .nav-tabs > li.active > a,
.theme-tabs .nav-tabs > li > a:hover {
    color: #ef8629; !important;
}

.theme-tabs .nav-tabs > li > a::after {
    background: #ef8629;
}

.theme-tabs .tab-nav > li > a::after {
    background: #ef8629 none repeat scroll 0% 0%;
}

.rightside-navbar li .button {
    color: #ef8629 !important;
    border: 2px solid #ef8629 !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    border-color: #ef8629;
    border-bottom: transparent;
}


.rightside-navbar li .button:hover {
    background: #ef8629 !important;
}

.search-button {
    background: #ef8629;

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #ef8629 !important;
    border-bottom: solid 2px #ef8629 !important;
}

.main-header .navbar-default .nav > li > a:hover {
   color: #ef8629;
    border-top: solid 5px #ef8629;
}

.intro-section {
    background: #ef8629;
}

.search-button:hover {
    color: #fff;
    background: #84ad1d;
}

.panel-box .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #ef8629;
    color: #fff;
    /*box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.15);*/
}

.properties-panel-box .nav-tabs>li>a:hover {
    color: #fff;
    background: #ef8629;
}

.service-item .detail {
    border-top: solid 3px #ef8629;
}

.heading-properties p i{
    color: #ef8629;
    margin-right: 5px;
}

.heading-properties h5{
    color: #ef8629;
}

.heading-properties h3 span{
    color: #ef8629;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #ef8629;
}

.bootstrap-select .dropdown-menu li a {
    color: #ef8629;
}

.bootstrap-select .dropdown-menu li a:hover {
    background: #ef8629;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color: #ef8629;
}


.for-sale {
    background: #ef8629;
}

.our-service .content i {
    background: #ef8629;
}

.our-service .content h4 {
    color: #ef8629;
}

.footer-top .social-list li a:hover{
    background: #ef8629;
    border: solid 1px #ef8629;
}

.category-content .btn, .category-content .pricing-btn {
    background: #ef8629;
}

.agent-box .title a:hover{
    color: #ef8629;
}

.service-item .icon {
    background: #ef8629;
}

.service-item .detail h3 {
    color: #ef8629;
}

.dropdown-menu>li>a:hover {
    color: #ef8629;
    border-left: solid 5px #ef8629;
}

.plan.featured .price-header {
    background: #ef8629;
}

.option-bar .heading-icon{
    background: #ef8629;
}
.change-view-btn {
    color: #ef8629;
    border: solid 1px #ef8629;
}

.agent-box .contact p i {
    color: #ef8629;
}

.change-view-btn:hover {
    border: solid 1px #ef8629;
    background: #ef8629;
}

.active-view-btn {
    background: #ef8629;
    border: solid 1px #ef8629;
}

.active-view-btn:hover {
    border: solid 1px #ef8629;
    color: #ef8629;
}

.listing-properties-box .detail header.title a {
    color: #ef8629;
}

.listing-properties-box .detail .title::after {
    background-color: #ef8629;
}

.show-more-options, .show-more-options:hover {
    color: #ef8629;
}

.pagination > li > a:hover {
    background: #ef8629;
    border-color: #ef8629;
}

.pagination > .active > a {
    background: #ef8629;
    border-color: #ef8629;
}

.pagination > .active > a:hover {
    background: #ef8629;
    border-color: #ef8629;
}

.blog-box .detail .post-meta span a i {
    color: #ef8629;
}

.agent-box-list .agent-content h1 a:hover{
    color: #ef8629;
}
.form-content-box .footer span a {
    color: #ef8629;
}

blockquote {
    border-left: 5px solid #ef8629;
}

.banner-search-box{
    border-top: solid 5px #ef8629;
}

.agent-box-big .agent-content h1 a:hover{
    color: #ef8629;
}

.tab-style-2-line > .nav-tabs > li.active > a {
    /*border: solid 1px #ef8629 !important;*/
    border-radius: 4px 4px 0 0;
    background: #ef8629;
}

.tab-style-2-line > .nav-tabs > li.active > a:hover {
    /*border: solid 1px #ef8629 !important;*/
    background: #ef8629 !important;;
}


.archives ul li a:hover{
    color: #ef8629;
}
.range-slider .ui-slider .ui-slider-handle {
    background: #ef8629;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #ef8629;
}

.property-tag.featured {
    background: #ef8629;
}

.range-slider .ui-widget-header {
    background-color: #ef8629;
}

.category-posts ul li a:hover {
    color: #ef8629;
}

.tags-box ul li a:hover {
    border: 1px solid #ef8629;
    background: #ef8629;
}

.latest-tweet a {
    color: #ef8629;
}

.popular-posts .media-heading a {
    color: #ef8629;
}

.comment-meta-author a {
    color: #ef8629;
}

.comment-meta-reply a {
    background-color: #ef8629;
}

.contact-details .media .media-left i {
    background: #ef8629;
}

.about-text ul li i {
    color: #ef8629;
}

.breadcrumbs li a:hover {
    color: #ef8629;
}

.top-header ul li a:hover {
    color: #ef8629;
}

.helping-center .icon {
    color: #ef8629;
}

.main-title-2 h1 a:hover{
    color: #ef8629;
}

.agent-box-big .contact p i{
    color: #ef8629;
}

.agent-box-list .contact p i{
    color: #ef8629;
}

.option-bar h4 {
    color: #ef8629;
}

.attachments a:hover{
    color: #ef8629;
}

.additional-details-list li a:hover{
    color: #ef8629;
}

.user-account-box  .content ul li .active {
    color: #ef8629;
    border-left: solid 5px #ef8629;
}

.user-account-box  .content ul li a:hover{
    color: #ef8629;
    border-left: solid 5px #ef8629;
}

.photoUpload {
    background: #ef8629;
    color: #fff;
    opacity: 0.9;
}

.user-account-box .header{
    background: #ef8629;
}

table.manage-table .title-container .title h4 a{
    color: #ef8629;
}

table.manage-table .title-container .title span i{
    color: #ef8629;
    margin-right: 5px;
}

.panel-box span a{
    color: #ef8629;
}

table.manage-table td.action a:hover{
    color: #ef8629;
}

.typography-page mark.color {
    background-color: #ef8629;
}

.list-3 li:before, .list-2 li:before, .list-1 li:before {
    color: #ef8629;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #ef8629;
    background-color: #ef8629;
}

.numbered.color ol > li::before {
    border: 1px solid #ef8629;
    color: #ef8629;
}

.map-marker:hover {
    background-color: #ef8629;
    cursor: pointer;
}
.map-marker:hover:before {
    border-color: #ef8629 transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #ef8629;
}
.map-marker.featured:hover:before {
    border-color: #ef8629 transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #ef8629;
}

.marker-active .map-marker {
    background-color: #ef8629;
}
.marker-active .map-marker:before {
    border-color: #ef8629 transparent transparent transparent;
}

.map-properties .address i{
    color: #ef8629;
}

.map-properties-btns .border-button-theme{
    color: #ef8629; !important;
}

.map-properties-btns .border-button-theme:hover{
    color: #fff !important;
}
.map-properties .map-content h4 a{
    color: #ef8629;
}

.dropzone-design:hover {
    border: 2px dashed #ef8629;
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle{
        background: #ef8629;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background: #ef8629;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: #ef8629;
        color: #fff! important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background: #ef8629;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #ef8629; !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}